@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  margin-bottom: 2rem;
}

.copy {
  a {
    color: #e04e3b;
  }

  p {
    margin-bottom: 0.25rem;
  }
}